/*------Estrutura do Site------*/
body {
	background: #f4f2ec url(../imagens/fundo.png) repeat-x;
	font: 12px "lucida Grande", "lucida Sans Unicode", Arial, sans-serif;
}

@font-face {
	font-family: Exo;
	src: url(../font/Exo-semiBold.woff);
}

p {
	font-family: Exo;

}

a {
	font-family: Exo;

}

#container {
	width: 1080px;
	margin: 0 auto;
}
a:link, a:active, a:visited {
	color: #af670a;
	text-decoration: none;
}

a:hover {
	color: #227115;
}

#logo h1 {
	float: left;
}

/*--------Logo--------*/
#logo {
	width: 248px;
	height: 21px;
	text-indent: -999px; /*tirar o texto de visualização/se caso o css não carregar*/
	display: block;
	background: url(../imagens/logo.png) no-repeat;
}

/*Barra de Navegação*/
header {
	padding: 15px;
	height: 55px;
}

nav ul {
	list-style: none;
	margin:-20px;
	float: right;
	margin-right: -80px;
}

nav ul li {
	float: left;

}

nav ul li a:link {
	display: block;
	margin-right: 25px;
	padding: 3px;
	text-transform: uppercase;
}

nav ul li a:hover {
	border-bottom: 1px solid #585858;
}

/*conteudo Principal*/
#conteudo {
	width: 710px;
	float: left;
	margin-left: 150px;
	margin-bottom: 20px;
}

aside {
	width: 350px;
	float: right;
	background: #ebe7dd;
	margin-right: 100px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

section#visita {  
	background: #cdc8b1;
	padding: 10px 27px 27px 27px;
	margin-top: 10px;
}

section#galeria  {
	padding: 0 27px 0 27px;
}

section#galeria a {
	display: block;
	margin-left: 20px;
	background: url(../imagens/fundo-foto.png)no-repeat;
	float: left;
	padding: 18px 15px 	16px 15px;
}

section#galeria img {
	margin-left: 4px;
	margin-top: 2px;
}

article#video {
	float: left;
	width: 310px;
	margin-left: 25px;
	margin-bottom: 5px;
}

article#mapa {
	float: left;
	width: 310px;
	margin-left: 37px;
}

article#exposições {
	float: left;
	width: 550px;
	padding-top: -20px;
	margin-right: 30px;
}

article#exposições h3 {
 	padding-left: 25px;
 	margin-right: 30px;
}




article#anos {
	float: right;
	width: 310px;
	margin-top: -185px;
	margin-left: 10px;
	margin-right: 30px;

}

h3 {
	color: #227115;
	font-size: 1.0em;
	margin-bottom: 15px;
	text-transform: uppercase;
}



h4 {
	color: #84521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;
}

/*formularios */
input {
	height: 20px;
	width: 80px
	background: #fff;
	border: none;
	font-size: 1em;
}

input.campo {
	border:1px solid #ada484;
}

input.campo1 {
	border:1px solid #ada484;
 	left: 50px;
}

input.botao {
	background: #9b9271;
	color:white;
	width: 100%;
	height: 40px;
	font-size: 1.2em;
}

fieldset {
	border: none;
}

legend {
	display: none;
}

/*-----------Footer------------*/
footer {
	clear: both;
	background: url(../imagens/fundo.png) repeat-x;
	height: 90px;
	margin: none;
	text-align: center;

}

footer>p a {
	font-family: Exo;
	padding: 15px;




}